<!-- fragments/carousel.html -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <th:block th:each="chunk, stat : ${imageChunks}">
      <div class="carousel-item" th:classappend="${stat.index == 0} ? 'active'">
        <div class="row justify-content-center">
          <th:block th:each="img : ${chunk}">
            <div class="col-4 d-flex justify-content-center">
              <img th:src="@{'/images/' + ${img}}" class="d-block w-75" alt="...">
            </div>
          </th:block>
        </div>
      </div>
    </th:block>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
