html {
  color-scheme: light only;
}

/* ---------- BASE ---------- */

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ---------- HEADER ---------- */

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 15rem;
  width: 100%;
  height: auto;
  background: linear-gradient(
    to bottom,
    #E0E0E0 0%,
    #FFFFFF 100%
  );
  padding: 2rem;
}

h1 {
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: #111111;
  position: relative;
}

h1::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3px;
  margin-top: 0.5rem;
  background-color: #111111;
  border-radius: 2px;
}



/* ---------- MAIN ---------- */

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#section_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #F7F7F7 0%,
    #FFFFFF 100%
  );
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
}
#section_biografia {
    width: 60%;
    text-align: center;
}
#social_media {
    width: 40%;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.cuadro_img{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img_linkedin, #img_instagram {
    width: 3rem;
    border-radius: 25%;
    transition: all 0.3s ease;
}
#img_github {
     width: 3rem;
     border-radius: 50%;
    transition: all 0.3s ease;
}

#img_github:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 10px #00000066;
}
#img_linkedin:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 10px blue;
}
#img_instagram:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 10px purple;
}


#foto_perfil {
    width: 20%;
    position: relative;
    overflow: hidden;

    /* BORROSO LATERAL */
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );

    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
}
/* ---------- PROYECTOS ---------- */

#div_mis_proyectos {
  width: 100%;
  text-align: left;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

#div_proyectos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* ---------- TECNOLOGÍAS ---------- */

.lista-tecnologias {
  width: 50rem;
  font-family: 'Montserrat';
  font-weight: 700;
  position: relative;
  overflow: hidden;

  /* BORROSO LATERAL */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}


.inner {
  display: flex;
  width: max-content;
  gap: 5rem;
  animation: loop 20s linear infinite;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  background-color: #111111;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}
.tag:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.tag span {
  font-size: 1.2rem;
  color: #64748b;
}

.fade {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #1e293b,
    transparent 20%,
    transparent 80%,
    #1e293b
  );
  pointer-events: none;
}

/* CLAVE DEL LOOP */
@keyframes loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


/* ---------- CARDS ---------- */

.card {
  overflow: hidden;
  border-radius: 1rem;
  width: 25rem;
  height: 35rem;
  padding: 1rem;
  display: block;
  transition: transform 0.3s ease;
  box-shadow:
    0 0.1rem 0.1rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.1rem 0.5rem #00000066;
}

.card:hover {
  transform: scale(1.03);
}
.card-estrellas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
}
#btn_estrellas {
    border-radius: 0.5rem;
    background: black;
    color: white;
}
.card-title {
  margin-top: 1rem;
  width: 100%;
  text-align: left;
  font-weight: 700;
}

.card-img {
  width: 100%;
  border-radius: 1rem;
}

.card-text {
  font-size: 0.9rem;
}

.lenguaje-badge {
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}

/* ---------- FOOTER ---------- */

#footer {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  background: #111;
  color: #fff;
}
