<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inicio | Santi Martínez</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<header id="header">
  <div class="lista-tecnologias">
    <div class="inner">
      <div class="tag"><span>#</span>Java</div>
      <div class="tag"><span>#</span>SpringBoot</div>
      <div class="tag"><span>#</span>MongoDB</div>
      <div class="tag"><span>#</span>Typescript</div>
      <div class="tag"><span>#</span>AndroidStudio</div>
      <div class="tag"><span>#</span>Git</div>
      <div class="tag"><span>#</span>Docker</div>
      <div class="tag"><span>#</span>Linux</div>

      <!-- DUPLICADO -->
      <div class="tag"><span>#</span>Java</div>
      <div class="tag"><span>#</span>SpringBoot</div>
      <div class="tag"><span>#</span>MongoDB</div>
      <div class="tag"><span>#</span>Typescript</div>
      <div class="tag"><span>#</span>AndroidStudio</div>
      <div class="tag"><span>#</span>Git</div>
      <div class="tag"><span>#</span>Docker</div>
      <div class="tag"><span>#</span>Linux</div>
    </div>
    <div class="fade"></div>
  </div>
  <h1>Santi Martínez · Full stack</h1>

</header>

<main>

  <article class="d-flex flex-column justify-content-center gap-20 align-items-center" id="article_biografia">

    <section id="section_biografia">
      <p>
        ¡Hola! Soy un desarrollador full stack especializado en Java, con experiencia en el desarrollo
        de aplicaciones móviles con Android Studio. Además, acostumbro a trabajar en entornos Linux.
      </p>
      <p>
        A lo largo de mi trayectoria, he desarrollado diversos proyectos personales, incluyendo aplicaciones
        móviles, de escritorio, web y scripts para automatizar tareas.
      </p>
      <p>
        Estoy siempre en busca de nuevos desafíos y oportunidades para aprender y crecer en el campo del desarrollo de software.
        ¡No dudes en contactarme si quieres colaborar o simplemente charlar sobre tecnología!
      </p>
    </section>

    <img th:src="@{/images/santi.png}" alt="Foto de perfil" id="foto_perfil">

    <div id="social_media">
      <a class="cuadro_img" href="https://github.com/santimartinezzgb" target="_blank" rel="noopener noreferrer">
        <img id="img_github" th:src="@{/images/git_logo.png}" alt="github">
      </a>
      <a class="cuadro_img" href="https://www.linkedin.com/in/santiago-mart%C3%ADnez-gonz%C3%A1lez-besada-bb6467335/" target="_blank" rel="noopener noreferrer">
        <img id="img_linkedin" th:src="@{/images/linkedin.jpg}" alt="linkedin">
      </a>
      <a class="cuadro_img" href="https://www.instagram.com/santimartinezzgb" target="_blank" rel="noopener noreferrer">
        <img id="img_instagram" th:src="@{/images/instagram.png}" alt="instagram">
      </a>
    </div>
  </article>

  <section id="section_principal">

    <div id="div_mis_proyectos">
      <h2>Mis proyectos</h2>
    </div>

    <div id="div_proyectos">
      <div th:each="tarjeta : ${tarjetas}">

        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between align-items-start h-100">
            <div class="card-estrellas">
              <span id="num_estrellas" th:text="${tarjeta.contadorEstrellas} + ' ⭐'">0 ⭐</span>
              <button id="btn_estrellas">Star</button>
            </div>
            <img th:src="@{${tarjeta.urlImagen}}" alt="logo" class="card-img">
            <h5 class="card-title" th:text="${tarjeta.titulo}">Nombre</h5>
            <p class="card-text" th:text="${tarjeta.descripcion}">Descripción</p>
            <div class="card-footer-custom d-flex align-items-end justify-content-between w-100">
              <a th:href="${tarjeta.urlProyecto}" class="btn bg-black text-white" target="_blank">
                Ver proyecto
              </a>
              <span class="badge lenguaje-badge"
                    th:text="${tarjeta.lenguaje}"
                    th:style="'background-color:' + ${tarjeta.color_lenguaje}">
              Java
            </span>
            </div>
          </div>
        </div>
      </div>

      <p th:if="${tarjetas == null or tarjetas.isEmpty()}">
        No hay proyectos disponibles
      </p>
    </div>

  </section>
</main>

<footer id="footer">
  © 2025 · Santi Martínez
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/script.js}" defer></script>

</body>
</html>
